<!DOCTYPE html>
<html lang="en" ng-app="JeansCo">
<head>
    <meta charset="UTF-8">
    <title>Jeans Co.</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script src="jeansco.js"></script>
    <script src="sales/salesview-component.js"></script>
    <script src="sales/sales-controller.js"></script>
    <script src="sales/sales-data-service.js"></script>
</head>
<body ng-controller="SalesController">
<md-toolbar layout="row" class="md-toolbar-tools">
    <h1>Online Jeans Co.</h1>
</md-toolbar>

<md-toolbar layout="row" class="md-toolbar-tools">
    <h1>Sales Reports: &nbsp;&nbsp;</h1>

    <md-radio-group layout="verical" >
        <md-radio-button value="manuByGenAndCountry" ng-click="selectReport(1)"> Manufacturers by gender and country </md-radio-button>
        <md-radio-button value="sizeByCountry" ng-click="selectReport(2)"> Sizes by country </md-radio-button>
        <md-radio-button value="monthByCountry" ng-click="selectReport(3)"> Months globally and by country </md-radio-button>
    </md-radio-group>
</md-toolbar>

<!--
 Container #1
-->

<div flex layout="row">
    <!-- Container #2 -->
    <md-content flex id="content">
        <div >
            <sales-view-comp style="height: 100%;width: 100%"></sales-view-comp>
        </div>
    </md-content>
</div>
</body>
</html>
